* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'JetBrains Mono', monospace;
}

body {
  background-color: #0a2540;
}
button {
  color: black;
  margin-right: 10px;
}

.App {
  display: flex;
  flex-direction: row;
  width: 1024px;
  height: 500px;
  margin: 120px auto;
  background-color: #081d33;
  justify-content: space-between;
  align-items: center;
}

/*EDITOR*/
.editor textarea {
  width: 100%;
  color: black;
  height: 200px;
  resize: none;
}

/*TERMINAL*/
.terminal__container {

}

.cursor {
  font-size: 13px;
  border: 1px solid green;
  animation: blink 0.7s step-start 0s infinite;
  background-color: green;
}

.command-line {
  display: flex;
  color: green;
}
.command {
  margin-left: 5px;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}