* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'JetBrains Mono', monospace;
}

body {
  background-color: #0a2540;
}
button {
  color: black;
  margin-right: 10px;
}

.editor textarea {
  width: 100%;
  color: black;
  height: 200px;
  resize: none;
}


.terminal__container, .editor {
  margin: 50px auto;
  height: 400px;
  width: 700px;
  background-color: #06182c;
  border-radius: 10px;
  padding: 20px;
}

.cursor {
  width: 8px;
  border: 1px solid green;
  animation: blink 0.7s step-start 0s infinite;
  background-color: green;
}

.command-line {
  display: flex;
  color: green;
}
.command {
  margin-left: 5px;
}

.log::before {
  content: '> ';
}
.log-next-line {
  margin-left: 20px;
}

.result {
  color: lightgray;
}


@keyframes blink {
  50% {
    background-color: transparent;
  }
}